body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

h1 {
    color: white;
    font-size: 5rem;
    font-family: "Space Mono", monospace;
    text-align: center;
    position: absolute;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}