html {
    background: rgb(245, 230, 6);
    background: linear-gradient(45deg, rgba(245, 230, 6, 1) 0%, rgba(46, 210, 245, 1) 100%);
    font-family: "Futura", sans-serif;
    height: 100%;
}

body {
    color: #ffffff;
    overflow: hidden; /* Prevents balls from affecting scrollbar */
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-bottom: 50vh;
}

/* Add floating balls */
.ball {
    position: absolute;
    border-radius: 50%; /* Circular shape */
    z-index: -1; /* Position behind everything else */
}
    
h1 {
    font-size: 4.5em;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0;
}

img {
    border-radius: 15px;
}

button {
    background: linear-gradient(45deg, rgba(245, 230, 6, 1) 0%, rgba(46, 210, 245, 1) 100%);
    color: #FFF;
    font-weight: bold;
    font-size: 1.5em;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    width: 200px;
    /* Add any additional styles here */
}

.header {
    margin-bottom: 0;
}

.author {
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 0;
}

.image-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 4px solid #1E2B33;
    border-radius: 15px;
    max-width: 60vh;
}

.image-container img,
.image-container video {
    border-radius: 15px;
    width: 100%;
}

/* Media query for screen width below 600px */
@media screen and (max-width: 1000px) {

    .image-container img,
    .image-container video {
        max-width: 95%;
    }
}

/* LINKS */
/* unvisited link */
a:link {
    color: #732629;
}

/* visited link */
a:visited {
    color: #FFFFFF;
}

/* mouse over link */
a:hover {
    color: #712673;
}

/* selected link */
a:active {
    color: #FFFFFF;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #FFF;
}